{% extends 'base.html' %}
{% block title %}学校推荐{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <div class="container">
    <table class="table table-bordered table-hover table-striped" width="300px">
    <th>学校</th>
    <th>省份</th>
    <th>考生类型</th>
    <th>年份</th>
    <th>批次</th>
    <th>平均分</th>
    <th>最低分</th>
    {% for foo in school %}
        <tr>
            <td>{{ foo.school_name }}</td>
            <td>{{ foo.school_province }}</td>
            <td>{{ foo.student_type }}</td>
            <td>{{ foo.year }}</td>
            <td>{{ foo.epoch }}</td>
            <td>{{ foo.score_avg }}</td>
            <td>{{ foo.score_low }}</td>
        </tr>
    {% endfor %}
</table>
    </div>
    {% else %}
    <h1>你尚未登录，无法推荐学校！</h1>
    {% endif %}
{% endblock %}