{% extends 'base.html' %}
{% block title %}MBTI测试{% endblock %}
{% block content %}
    {#  是否已登录  #}
    {% if request.session.is_login %}
{#    <h1>你好,{{ request.session.user_name }}！</h1>#}
        {# 已进行MBTI人格测试   #}
        {% if request.session.is_mbti %}
             <div class="container">
             <div class="row" >
                <div class="col-md-6 col-md-offset-3"
                style="background-color: #dedef8;box-shadow:
                inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <div>你的人格类型是<span style="color: red">{{ request.session.user_mbti }}</span></div>
                <p>{{ analysis }}</p>

                </div>
                 <div class="col-md-6 col-md-offset-5">
                     <br/>
                <a href="/mbti/test/">
                    <button type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span> 重新测试
                    </button>
                </a>
             </div>
             </div>

             </div>
        {# 未进行MBTI人格测试 #}
        {% else %}
            <div class="container">
            <div class="col-md-6 col-md-offset-3"
                style="background-color: #dedef8;box-shadow:
                inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <tr class="col-md-4 col-md-offset-4">
            <h4 style="font-family:verdana">MBTI施测流程和行为规范</h4>
                <span style="font-weight:bold; font-size: large">第1步　调整心态：</span><span style="font-size: large"> MBTI只测试性格类型，而不同性格类型之间没有优劣之分，测试结果也将对其他人严格保密；请放松心情，最大限度地摆脱工作、家庭等外部环境的压力，尽量展现真实的自我。</span><br/>
                <span style="font-weight:bold;  font-size: large">第2步　认真理解：</span><span style="font-size: large"> 受测者了解MBTI的测试目标、基本思路和主要内容。</span><br/>
                <span style="font-weight:bold;  font-size: large">第3步　答问题卷：</span><span style="font-size: large"> 受测者尽管按照自己的理解答题，也可以跳过模棱两可的问题不答，但是不应与其他人讨论。</span><br/>
                <span style="font-weight:bold;  font-size: large">第4步　答卷计分并比较：</span><span style="font-size: large"> 受测者将初步测试结果与以前的自我感觉相比较，并且对两者的差别及其成因做出思考。</span><br/>
                <span style="font-weight:bold;  font-size: large">第5步　阅读完整分析报告描述：</span><span style="font-size: large"> 受测者阅读并思考MBTI提供的性格类型描述，尽可能明确自己的性格类型。</span><br/>
            <br/>
                <a href="/mbti/test/">
                <button type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span> 开始测试
                </button>
            </a>
            </tr>
                </div>
            </div>
            </div>
        {% endif %}
    {% else %}
    <h1>你尚未<a href="/login/">登录</a>，无法进行MBTI人格测试！</h1>
    {% endif %}
{% endblock %}